PORT=8001

# Neon PostgreSQL Database Connections
# Pooled connection string (runtime application traffic)
DATABASE_URL="postgresql://USER:PASSWORD@YOUR-NEON-POOLER/neondb?sslmode=require"

# Direct connection string (Prisma CLI & database migrations)
DIRECT_URL="postgresql://USER:PASSWORD@YOUR-NEON-HOST/neondb?sslmode=require"
